<div class="header-content">
        <div class="inner">
            <h1><perch:content id="mainheading" type="text" label="Main Heading" required="true" /></h1>
            <h5 class="wow fadeIn text-normal wow fadeIn"><perch:content id="secondheading" type="text" label="Second Heading" required="true" /></h5>
            <a href="#one" class="btn btn-primary-outline btn-xl page-scroll wow fadeInUp m-t-3"><perch:content id="buttontext" type="text" label="Button text" required="true" /></a>
        </div>
    </div>
</header>